<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Document</title>
</head>
<body>
    <div class="container">
    <h1>CRUD System</h1>
    <form action="{% url 'create' %}" method="POST" >
        {% csrf_token %}
        <div class="form-group">
          <label for="formGroupExampleInput">Text</label>
          <input type="text" class="form-control" name="text" placeholder="Example input">
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput2">Date</label>
          <input type="date" class="form-control" name="date" >
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
      </form>
    <table class="table table-dark my-2">
    <th>
        <td>Text</td>
        <td>Date</td>
        <td>View</td>
        <td>Delete</td>
    </th>
    {% for t in dict %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ t.text }}  </td>
            <td> {{ t.date }} </td>
            <td>
                <form action="{% url 'viewdata' t.pk %}">
                    <button type="submit" class="btn btn-primary">View</button>
                </form>
            </td> 
            <td>
                <form action="{% url 'deletedata' t.pk %}" method="POST" >
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Delete</button>
                  </form>
            </td>
        </tr>
    {% endfor %}
</table>
</div>
</body> 
</html>