<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Document</title>
</head>
<body>
    <div class="container">
      <h1>Update your data </h1>
    <form action="{% url 'updatedata' obj.pk %}" method="POST" >
        {% csrf_token %}
        <div class="form-group">
          <label for="formGroupExampleInput">Text</label>
          <input type="textfield" class="form-control" name="text"  value="{{ obj.text }}">
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput2">Date</label>
          <input type="date" class="form-control" name="date" value="{{ obj.date |date:'Y-m-d' }}" >
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
      </form>
      

    </div>
</body>
</html>